
<%- include('../../partials/header') %>
<h2>NEW TICKET</h2>
<form id="tix-form" method="POST"
action="/flights/<%= flight.id %>/tickets/new">
    <label >Seat No:
        <input type="text" name="seat" >
    </label>
    <label >Price:
        <input type="text" name="price" >
    </label>

    <input type="hidden" name="flight" value= '<%= flight.id %>' >

    <input type="submit" value="Add Ticket">
</form>
<div id="menu">
    <a href="/flights/<%= flight._id %>">DETAILS</a>
    <a href="/flights">ALL FLIGHTS</a>  
</div>

<%- include('../../partials/footer') %>