<!-- path: GET /flights/index.js-->  
<!-- flights => array of flight objects -->

<%- include('../../partials/header') %>
    <h1>FLIGHTS</h1>
    <a href="/flights/new">Add new flight</a>
    <% flightsArr.forEach( (flight, idx)=> {%>
    <ul>
        <li>ID: <%= flight._id %></li>
        <li>Airline: <%= flight.airline %></li>
        <li>Flight No: <%= flight.flightNo%></li>
        <li>Departs: <%= flight.departs%></li>
        <li><a href="/flights/<%= flight._id %>">DETAILS</a></li>
    </ul>
    <% }) %>
<%- include('../../partials/footer') %>

